.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid whitesmoke;
    color: gray;
}
.header__left,.header__right,.input{
    display: flex;
    align-items: center;
}
.header__middle{
    flex: 0.7;
}
.input{
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
}
.input input{
    width: 100%;
    outline: none;
    background-color: whitesmoke;
    border: none;
}
.logo{
    margin-left: 5px;
}